<style>
    .image-container {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-top: 50px;
    }

    .image-box {
        display: flex;
        text-align: center;
        border: 2px solid red;
        width: 100px;
    }

    .image-box img {
      width: 100px;
      height: auto;
      border-radius: 8px;
    }

    .image-box p {
      margin-top: 8px;
      font-size: 14px;
      color: #333;
    }
  </style>