img{
    
}
h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: hsl(0, 100%, 50%);
}
p{
    background-color: #fff000;
    color: rgb(255, 000, 000);
}
