img{
    border: 5px solid black;
}
h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: #fff000;
    border-style: dotted solid;
}
p{
    background-color: #fff000;
    color: rgb(255, 000, 000);
    border-style:dotted solid;
}
