body{
    background-color: hsl(300, 56%, 89%);
}
section{
    /* background-color: wheat; */
    /* height: 80px; */
}
section header{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}
section header img{
    margin-left: 50px;
    width: 300px;
}
section header ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding: 12px;
    
}
section header ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
}
section header ul li a:hover{
    color: blue;
}
section div{
    margin-top: 50px;
    text-align: center;
}
section div h1{
    font-size: 30px;
}
section div p{
    margin-left: 320px;
    margin-right: 300px;
    text-align: center;
    width: 640px;
}
section div button{
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}
section .box{
    border: 1px solid red;
    justify-content: center;
    width: 100px;
}
.main img{
    margin-top: 400px;
    width: 800px;
    border-radius: 30px;
}
section .icons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
section .box-1{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}
section .box-1 img{
    margin: 25px;
}
section .box-1 p{
    margin-top: 0px;
    margin-left: -230px;
    font-size: 20px;

}
section .box-2{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}
section .box-2 p{
    margin-left: -220px;
    margin-top: 0px;
    font-size: 20px;
}
section .box-3{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
}
section .box-3 img{
    margin-top: 25px;
}
section .box-3 p{
    margin-left: -230px;
    font-size: 20px;
}
section h3{
    margin-top: 400px;
    text-align: center;
}
section .video{
    display: flex;
    border-radius: 30px;
    gap: 5px;
}
section div video{
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
footer{
    margin-top: 200px;
    color: white;
    background-color: black;
}
footer .foot{
    display: flex;
    gap: 35px;
}